<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="./lib/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <full></full>
    </div>
    <template id="tmp1">
      <div>
        <input type="text" v-model="firstName" @keyup="getFullname" /> +
        <input type="text" v-model="lastName" @keyup="getFullname" /> =
        <input type="text" v-model="fullname" />
      </div>
    </template>
    <script>
      const full = {
        template: "#tmp1",
        data() {
          return {
            firstName: "",
            lastName: ""
          };
        },
        methods: {
          getFullname() {
            // this.fullname = this.firstname + "-" + this.lastname;
          }
        },
        computed: {
          fullname: {
            get: function() {
              return this.firstName + " - " + this.lastName;
            },
            set: function(newVal) {
              var parts = newVal.split(" - ");
              this.firstName = parts[0];
              this.lastName = parts[1];
            }
          }
        }
      };
      const vm = new Vue({
        el: "#app",
        data: {},
        methods: {},
        components: {
          full
        }
      });
    </script>
  </body>
</html>
